<div class="row titleBar">
    <div class="titleBox titleAnimation">
        <div class="o2Box titleAnimation"></div>
        <div class="dBox titleAnimation"></div>
        <div class="o1Box titleAnimation"></div>
        <div class="tBox titleAnimation">
            <div class="tCross titleAnimation"></div>
            <div class="tBar titleAnimation"></div>
        </div>
    </div>
    <div class="underlineBox">
        <div class="underline titleAnimation"></div>
    </div>
</div>
<div class="row">
        <div class="uncompletePanel panel panel-default col-sm-6">
            <div class="panel-heading todo-heading">
                <h4>TO DO:</h4>
            </div>
            <div class="panel-body">
                <ng-container *ngIf="unCompletedTodos.length > 0">
                    <div id="{{'row-' + todo.id.toString()}}" [ngClass]="{'new': todo.new}" class="todo row" *ngFor="let todo of unCompletedTodos">
                        <ng-container *ngIf="!todo.editing">
                            <div class="todoBody col-sm-10" (click)="editTodo(todo)">
                                <span class="todoSpan">{{todo.name}}</span>
                            </div>
                            <div class="todoButtons col-sm-2">
                                <button class="btn btn-success" (click)="completeTodo(todo)">
                                    <i class="fas fa-check"></i>
                                </button>
                                <button class="btn btn-danger" (click)="deleteTodo(todo)">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="todo.editing">
                            <div class="todoBody col-sm-10">
                                <input #todoInput class="todoInput" (keyup.enter)="saveTodo(todo, todoInput.value)" type="text" value="{{todo.name}}">
                            </div>
                            <div class="todoButtons col-sm-2">
                                <button class="btn btn-primary" (click)="saveTodo(todo, todoInput.value)">
                                    <i class="fas fa-save"></i>
                                </button>
                                <button class="btn btn-danger" (click)="deleteTodo(todo)">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
                <ng-container *ngIf="unCompletedTodos.length <= 0">
                    <span>No ToDos to show! Create one by typing</span>
                </ng-container>
            </div>
        </div>

        <div class="completePanel panel panel-default col-sm-6">
            <div class="panel-heading complete-heading">
                <h4>COMPLETE:</h4>
            </div>
            <div class="panel-body">
                <ng-container *ngIf="completedTodos.length > 0">
                    <div id="{{'completeRow-' + todo.id.toString()}}" [ngClass]="{'new': todo.new}" class="todo row" *ngFor="let todo of completedTodos">
                        <div class="todoBody col-sm-10">
                            <span>{{todo.name}}</span>
                        </div>
                        <div class="todoButtons col-sm-2">
                            <button class="btn btn-danger" (click)="unCompleteTodo(todo)">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="completedTodos.length <= 0">
                    <span>No completed ToDos</span>
                </ng-container>
            </div>
        </div>
</div>
