<button (click)="testingClick()">Populate Dummy Todos</button>
<ul>
    <ng-container *ngIf="unCompletedTodos.length > 0">
        <h2>TO DO:</h2>
        <li *ngFor="let todo of unCompletedTodos">{{todo.name}}<button (click)="completeTodo(todo)">Complete</button></li>
    </ng-container>

    <ng-container *ngIf="completedTodos.length > 0">
        <h2>COMPLETED:</h2>
        <li class="completed" *ngFor="let todo of completedTodos">{{todo.name}}<button (click)="unCompleteTodo(todo)">Un-Complete</button></li>
    </ng-container>
</ul>
